@media (max-width:600px) {
    .main-title {
        font-size: 24px;
        margin: 34px 0 30px 10px;
    }

    /* navbar */
    .nav-logo {
        display: none;
    }

    .nav-logo-mv {
        display: block;
    }

    .nav-img {
        display: none;
    }

    /* contacts */
    .contacts-container-mv {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts-container__img {
        margin-right: 50px;
    }

    /* input */
    .form-input {
        display: none;
    }

    /* footer */
    .footer-link-mv {
        display: none;
    }

    .footer-logo {
        display: none;
    }

    .footer-tel {
        margin-top: 20px;
    }

    .footer-container__img {
        margin-right: 40px;
        margin-left: 10px;
    }
}

@media (max-width:900px) {
    .main-title {
        font-size: 24px;
        margin: 34px 0 30px 10px;
    }

    /* navbar */
    .nav-logo {
        display: none;
    }

    .nav-logo-mv {
        margin-left: -400px;
    }

    .nav-logo-mv {
        display: block;
    }
    .nav-img {
        display: none;
    }

    /* contacts */
    .contacts-container-mv {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts-container__img {
        margin-right: 50px;
    }

    /* buttons */
    .form-input {
        display: none;
    }

}