@media (max-width:600px) {
    .main-title {
        font-size: 24px;
        margin: 34px 0 30px 10px;
    }

    /* navbar */
    .nav-logo {
        display: none;
    }

    .navbar {
        background: #00093C !important;
    }

    .nav-page {
        color: white !important;
    }

    .nav-logo-mv {
        display: block;
    }

    .nav-img {
        display: none;
    }
    .header-container-mv{
        display: block;
    }
    .header-container__background-img {
        display: none;
    }
    
    .header-container__color-img {
        display: none;
    }
    
    .header-container__figure-img {
       display: none;
    }

    /* .about-us*/
    .about-us-container {
        margin-left: 1px;
        margin-top: 70px;
    }

    .about-us-container-owl {
        margin-left: 40px;
        margin-top: 20px;
    }

    .button-110 {
        display: none;
    }

   
    /* reviews */
    .reviews-figure__cicle {
        display: none;
    }
    
    .reviews-figure__cross {
        display: none;
    }
    
    .reviews-figure__triangle {
        display: none;
    }
    
    .reviews-figure__line-right {
        display: none;
    }
    .reviews__img-none{
        display: none;
    }
    .reviews__img-mv{
        margin-left: 80px;
    }
    .reviews-line {
        width: 350px;
    }
    /* welcome */
    .welcome-icon {
        margin-top: 20px;
    }
    /* input */
    .form-input {
        display: none;
    }
    /* footer */
    .footer-link-mv {
        display: none;
    }

    .footer-logo {
        display: none;
    }

    .footer-tel {
        margin-top: 20px;
    }

    .footer-container__img {
        margin-right: 40px;
        margin-left: 10px;
    }

}
@media (max-width:900px) {
    .main-title {
        font-size: 24px;
        margin: 34px 0 30px 10px;
    }

    /* navbar */
    .nav-logo {
        display: none;
    }
    .nav-logo-mv {
        margin-left: -400px;
    }

    .navbar {
        background: #00093C !important;
    }

    .nav-page {
        color: white !important;
    }

    .nav-logo-mv {
        display: block;
    }

    .nav-img {
        display: none;
    }
    .header-container-mv{
        display: block;
    }
    .header-container__background-img {
        display: none;
    }
    
    .header-container__color-img {
        display: none;
    }
    
    .header-container__figure-img {
       display: none;
    }
     /* buttons */
     .form-input{
        display: none;
    }

}