* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    background: white !important;
}

.nav-page {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #000000 !important;
    display: inline !important;
}

.nav-logo-mv {
    display: none;
    width: 57px;
    height: 40px;
    margin-left: -200px;
    margin-top: -30px;
}

.background {
    background: rgb(235, 235, 248);
    height: 100vh;
}

.nav-logo {
    display: block;
}

.nav-item {
    margin-left: 30px;
}

.nav-img {
    display: inline;
}

.container-fluid {
    margin-top: 20px;
    margin-left: 100px;
}

.header-container-mv {
    display: none;
}

.header-container-girl-mv {
    width: 100%;
}

.header-container-color-mv {
    width: 100%;
    height: 100%;
    background: #00093C;
}

.header-container-title-mv {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
}

.header-container-text-mv {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.header-container__background-img {
    display: inline;
    width: 100%;
    height: 350px;
}

.header-container__color-img {
    width: 50%;
    display: inline;
    margin-top: -375px;
    height: 350px;
}

.header-container__figure-img {
    margin-top: -375px;
    display: inline;
    width: 57%;
    height: 350px;
    margin-left: 60px;
}

/* about-us*/

.about-us-container-col {
    padding-top: 10%;
    display: block;
}

.about-us__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    display: block;
    text-align: center;
}

.about-us__img-frame {
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.about-us__img-figure {
    display: block;
    margin: auto;
}

.about-us__text {
    font-weight: 400;
    display: block;
}

.about-us-title {
    margin-top: 25px;
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.about-us-text {
    font-weight: 500;
}

/* video */
.video {
    margin: 10% 20% 10% 20%;
    width: 60%;
    height: 300px;
    border-radius: 20px;
    z-index: 2;
    position: relative;
}


/* our-values */
.our-values-container {
    margin-top: 0px;
}

.our-values-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 1px;

}

.our-values-text-down {
    margin-top: 65px;
    font-size: 14px;
    color: rgb(79, 79, 79);
}


.our-values-img-foto{
    width: 80%;
    height: 40%;
    margin-left: 10%;
}

.our-values-img__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.our-values-img__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
    text-align: center;

}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    color: #000000;
    margin: 68px 0 30px 65px;
}

.our-values-icon {
    display: block;
    margin-bottom: 24px;
}

.our-values-icon__desctiption {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* our-people */
.our-people__background {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    background: #120947;
    position: relative;
    padding-bottom: 90px;
}

.our-people__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.our-people-container {
    background: white;
    width: 250px;
    height: 330px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    z-index: 2;
    position: relative;
}

.our-people-container__cicle {
    margin: auto;
    padding-top: 20px;
    display: block;
}

.our-people-container__img {
    position: absolute;
    padding-left: 65px;
    margin-top: -131px;
}

.our-people-container__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.our-people-container__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4F4F4F;
    padding-top: 20px;
    display: block;
}

.our-people-figure__cicle {
    position: absolute;
    display: inline;
    left: 72%;
    top: 50.97%;
    z-index: 1;
}

.our-people-figure__cross {
    display: inline;
    position: absolute;
    left: 0%;
    top: 6%;
}

.our-people-figure__triangle {
    display: inline;
    position: absolute;
    left: 40%;
    top: 70%;
    z-index: 1;
}

.our-people-figure__line-right {
    display: inline;
    position: absolute;
    top: 89.5%;
    left: 5%;
    z-index: 2;
}

.our-people-line {
    width: 90%;
    height: 2px;
    background: white;
    position: absolute;
    top: 90%;
    left: 5%;
}

/* our-program */
.our-program-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.our-program-container {
    display: inline-block;
    padding-left: 80px;
    padding-top: 50px;
}

.our-program-container__number-600 {
    display: block;
    width: 180px;
    height: 70px;
    margin-left: 20px;
}

.our-program-container__number-82 {
    width: 116px;
    height: 70px;
    display: block;
    margin-left: 20px;
}

.our-program-container__number-14795 {
    width: 305px;
    height: 70px;
    display: block;
    margin-left: 20px;
}

.our-program-container__description {
    display: block;
    margin-top: 15px;
    margin-left: 20px;
}

/* our-partners */
.our-partners__background {
    width: 180px;
    height: 120px;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 62px -12px rgba(216, 187, 100, 0.43);
    -moz-box-shadow: 0px 0px 62px -12px rgba(216, 187, 100, 0.43);
    box-shadow: 0px 0px 62px -12px rgba(216, 187, 100, 0.43);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.our-partners__background-mv {
    display: flex;
}

/* buttons */
.button-background {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    -webkit-box-shadow: -25px 0px 70px -32px rgba(216, 187, 100, 0.43);
    -moz-box-shadow: -25px 0px 70px -32px rgba(216, 187, 100, 0.43);
    box-shadow: -25px 0px 70px -32px rgba(216, 187, 100, 0.43);
    border: none;
    margin-bottom: 10%;
    display: block;
}

.button-background:hover {
    transform: scale(1.2);
    transition: 0.8s;
    -webkit-box-shadow: 44px 0px 70px -32px rgba(17, 119, 234, 0.43);
    -moz-box-shadow: 44px 0px 70px -32px rgba(17, 119, 234, 0.43);
    box-shadow: 44px 0px 70px -32px rgba(17, 119, 234, 0.43);
}

.blue {
    background: #C7EEFF;
}

.yellow {
    background: #FFE38E;
}

.purple {
    background: #DDDDFF;
}

.green {
    background: #B8EFCF;
}

.button-background__img {
    margin: auto;
    display: block;
    padding-top: 10%;
}

.button-background__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #00093C;
    display: block;
    text-align: center;
}

.form-input {
    display: flex;
    width: 100%;
    height: 270px;
    background: #FFFFFF;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 62px -12px rgba(216, 187, 100, 0.43);
    -moz-box-shadow: 0px 0px 62px -12px rgba(216, 187, 100, 0.43);
    box-shadow: 0px 0px 62px -12px rgba(216, 187, 100, 0.43);
    position: relative;
    margin: 20px auto 0px auto;
}

.form-input__title {
    font-weight: 600;
    position: absolute;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    left: 24%;
    top: 15%;
}

.form-input__text {
    font-weight: 500;
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    left: 24%;
    top: 38%;
}

.form-input__name {
    width: 31%;
    height: 20%;
    background: rgba(0, 9, 60, 0.1);
    border-radius: 6px;
    border: none;
    position: absolute;
    top: 10%;
    left: 60%;
}

.form-input__phone {
    position: absolute;
    width: 15%;
    height: 20%;
    background: rgba(0, 9, 60, 0.1);
    border-radius: 6px;
    border: none;
    top: 35%;
    left: 60%;
}

.form-input__email {
    position: absolute;
    width: 15%;
    height: 20%;
    background: rgba(0, 9, 60, 0.1);
    border-radius: 6px;
    border: none;
    top: 35%;
    left: 76%;
}

.form-input__agree {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #4F4F4F;
    position: absolute;
    top: 60%;
    left: 60%;
}

.form-input__button {
    position: absolute;
    width: 15%;
    height: 20%;
    background: #F7941D;
    border-radius: 10px;
    border: none;
    top: 60%;
    left: 76%;
}

.form-input__button-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: white;
}

.button__owl {
    position: absolute;
    width: 260px;
    height: 300px;
    z-index: 2;
    margin-left: -3%;
    margin-top: 3%;
}

/* footer */
.footer {
    background: #00093C;
}

.footer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 70px;
    display: block;
}

.footer__point {
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #FFFFFF;
    display: block;
    margin-top: 5px;
    text-decoration: none;
}

.footer-logo {
    display: block;
    margin-bottom: 40px;
    margin-top: 120px;
}

.footer-tel {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 1px;
    margin-bottom: 12px;
}

.footer-container__img {
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 15px;
}

.footer-adress {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.footer-container {
    margin-bottom: 12px;
}

.end {
    display: block;
}

.footer-link-mv {
    display: block;
}