@media (max-width:600px) {
    .main-title {
        font-size: 24px;
        margin: 34px 0 30px 10px;
    }

    /* navbar */
    .nav-logo {
        display: none;
    }

    .navbar {
        background: #00093C !important;
    }

    .nav-page {
        color: white !important;
    }

    .nav-logo-mv {
        display: block;
    }

    .nav-img {
        display: none;
    }
    .header-container-mv{
        display: block;
    }
    .header-container__background-img {
        display: none;
    }
    
    .header-container__color-img {
        display: none;
    }
    
    .header-container__figure-img {
       display: none;
    }

    /* .about-us*/
    .about-us-container {
        margin-left: 1px;
        margin-top: 70px;
    }

    .about-us-container-owl {
        margin-left: 40px;
        margin-top: 20px;
    }

    .button-110 {
        display: none;
    }

    /* video */
    .video__img-triange {
        display: none;
    }

    .video__img-line {
        display: none;
    }

    .video__img-line-high {
        display: none;
    }

    .video__img-cross {
        display: none;
    }

    .video {
        width: 330px;
        height: 180px;
        margin: 50px auto 20px 30px;
        position: relative;
    }

    .video-container__text {
        margin-left: 6%;
        font-size: 18px;
        line-height: 24px;
    }

    .our-program-container {
        display: inline-block;
        padding-left: 0px;
        padding-top: 50px;
    }

    /* banners */
    .banner-long-container {
        width: 300px;
        height: 340px;
        margin-top: 30px;
        margin-left: 10%;
    }

    .banner-long-container__namber {
        margin: 10px auto 0 auto;
    }

    .banner-long-container__title {
        font-size: 23px;
        line-height: 24px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .banner-long-container__text {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .banner-long-container__button {
        width: 222px;
        height: 60px;
        border: 2px solid #000000;
        border-radius: 10px;
        background: transparent;
        margin: 20px auto 0px 40px;
    }

    .banner-blue {
        width: 300px;
        height: 430px;
        margin-left: 30px;
    }

    .banner-blue__img {
        margin-left: 110px;
        margin-top: 10px;
    }

    .banner__title {
        font-size: 22px;
        margin-top: 10px;
    }

    .banner__text {
        margin-top: 15px;
    }

    .banner-blue__button {
        margin-top: 40px;
        margin-left: 40px;
    }

    .banner-green {
        width: 300px;
        height: 170px;
        margin-left: 8%;
    }

    .banner-pink {
        width: 300px;
        height: 170px;
        margin-left: 8%;
    }

    .banner-yellow {
        width: 300px;
        height: 200px;
        margin-left: 8%;
        margin-top: 5%;
    }
    .banner-yellow__img {
        margin-top: 10px;
    }
    .banner-yellow__title {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    /* reviews */
    .reviews-figure__cicle {
        display: none;
    }
    
    .reviews-figure__cross {
        display: none;
    }
    
    .reviews-figure__triangle {
        display: none;
    }
    
    .reviews-figure__line-right {
        display: none;
    }
    .reviews__img-none{
        display: none;
    }
    .reviews__img-mv{
        margin-left: 80px;
    }
    .reviews-line {
        width: 350px;
    }
    /* welcome */
    .welcome-icon {
        margin-top: 20px;
    }
    /* input */
    .form-input {
        display: none;
    }
    /* footer */
    .footer-link-mv {
        display: none;
    }

    .footer-logo {
        display: none;
    }

    .footer-tel {
        margin-top: 20px;
    }

    .footer-container__img {
        margin-right: 40px;
        margin-left: 10px;
    }

}